doctype html
html(lang='en')
	head
		title Databox Twitter Driver
		base(href='/driver-twitter/ui/')
		link(rel='stylesheet', href='material-components-web.min.css')
		script(src='material-components-web.min.js', defer=true)
		script(src='bundle.js', defer=true)
	body(style="margin: 16px")
		form.mdc-card(method="post", action=(access_token == null ? "login" : "logout"))
			input#callback(type="hidden", name="callback", value="")
			if(access_token == null)
				div(style="padding: 0 16px")
					h2.mdc-typography--headline6 Twitter Account
					a.mdc-typography--body1(href="https://apps.twitter.com/", target="_blank")
						| App Credentials

					div.mdc-text-field(style="width:100%")
						input#consumer_key.mdc-text-field__input(type="text", name="consumer_key", value=consumer_key)
						label.mdc-floating-label(for="consumer_key")
							| Consumer Key
						div.mdc-line-ripple

					div.mdc-text-field(style="width:100%")
						input#consumer_secret.mdc-text-field__input(type="text", name="consumer_secret" value=consumer_secret)
						label.mdc-floating-label(for="consumer_secret")
							| Consumer Secret
						div.mdc-line-ripple

				div.mdc-card__actions(style="flex-direction: row-reverse")
					div.mdc-card__action-buttons
						button.mdc-button#twitter_login
							| Login
			else
				div(style="padding: 0 16px")
					h2.mdc-typography--headline6 Twitter Account

				div.mdc-card__actions(style="flex-direction: row-reverse")
					div.mdc-card__action-buttons
						button.mdc-button#twitter_logout
							| Logout

		div.mdc-card(style="margin-top: 16px")
			div(style="padding: 0 16px")
				h2.mdc-typography--headline6 HashTags

				div.mdc-text-field(style="width:100%")
					input#hashTags.mdc-text-field__input(type="text", value=hashTags.join(','))
					label.mdc-floating-label(for="hashTags") Twitter Stream HashTags
					div.mdc-line-ripple
				div.mdc-text-field-helper-text
					| A comma separated list of hashtags

				div(id='hashtag_msg')

			div.mdc-card__actions(style="flex-direction: row-reverse")
				div.mdc-card__action-buttons
					button.mdc-button#save_hashtags(type='button' value='save') Save